**/__pycache__
wiki2bio_tf/processed_data
wiki2bio_tf/results
wiki2bio_tf/original_data
**/*.pyc
wiki2bio_tf/wiki2bio.zip
计算资源使用说明.zip
original_data.zip
wiki2bio_jittor/outputlogs
wiki2bio_jittor/processed_data
test.ipynb
test.py
wiki2bio_jittor/original_data
wiki2bio_jittor/wiki2bio_jittor
wiki2bio_jittor/processed_data.tgz
processed_data.tar
results.tar
wiki2bio_tf/ROUGE.tar